form {
    border: 1px solid #545454;
    border-radius: 3px;
    padding: 40px;
}

input {
    padding: 5px 20px;
    line-height: 16px;
    margin: 10px 0;
}



.container{
    display: flex;
    padding: 4rem 0px;
    background-color: #f986c0f7;

    .section1{
        width: 50%;
        .img{
            width: 100%;
        }
    }

    .section2{
        width: 50%;
    }
}

.section2{
    display: flex;
    justify-content: center;
    align-items: center;
}

.section3{
    background-color: #dfdfdf;
    display: flex;
    justify-content: center;
    align-items: center;
}